/* Start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

body {
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
}

hr {
    color: #f8f6f9;
    border-color: #F5F8F9;
    height: 5px;
    border: 0;
}
.logo {
    background-color: #ffffff;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.img {
    vertical-align: middle;
    display: inline-block;
}

.testo {
    font-size: 20px;
    vertical-align: middle;
    display: inline-block;
}

/* Main */

main {
    text-align: left;
    color: #444851;
    width: 70%;
    margin: 40px auto;
    border-radius: 5px;
}

.button {
    border-radius: 5px;
    background-color: #47ADF1;
    color: white;
    border: none;
    padding: 8px 15px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
}

.button2 {
    border-radius: 5px;
    background-color: #ffffff;
    color: #C5CBD0;
    border-style: solid;
    border-width: 1px;
    border-color: #C5CBD0;
    padding: 8px 15px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
}

.container {
    background-color: #ffffff;
    padding-left: 50px;

}

.container2 {
    background-color: #ffffff;
    padding-left: 50px;
}

p {
    padding: 5px;
}

.p2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.space {
    padding-top: 30px;
}

.space2 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.cerchio{
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid green;
    color: green;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
}

.croce{
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid red;
    color: red;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
}
/* Bottoni colorati */

.bottoneceleste {
    border-radius: 30px;
    background-color:#45ABEA;
    color: #ffffff;
    border: none;
    padding: 8px 15px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
}

.bottoneviola {
    border-radius: 30px;
    background-color:#9C72E4;
    color: #ffffff;
    border: none;
    padding: 8px 15px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
}

.bottoneverde {
    border-radius: 30px;
    background-color:#64C0A9;
    color: #ffffff;
    border: none;
    padding: 8px 15px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
}

.bottonearancione {
    border-radius: 30px;
    background-color:#F29E33;
    color: #ffffff;
    border: none;
    padding: 8px 15px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
}

.bottonerosa {
    border-radius: 30px;
    background-color: #D863A1;
    color: #ffffff;
    border: none;
    padding: 8px 15px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
}

.bottoneverdino {
    border-radius: 30px;
    background-color: #B0C926;
    color: #ffffff;
    border: none;
    padding: 8px 15px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
}